/* change all form focus color to match theme of the app */
.form-control:focus {
    border-color: #872eb8;
    box-shadow: 0 0 0 0.2rem rgba(135, 46, 184, 0.25);}

.form-control:focus {
    border-color: #872eb8;
    box-shadow: 0 0 0 0.2rem rgba(135, 46, 184, 0.25);}

/* Set all submit buttons to THEME COLOR */
.submit-btn{
    background-color: #872eb8;
}
.submit-btn:hover{
    background-color: #929ad9;
}

input[type=checkbox]{
    /* display: none; */
    /* -webkit-appearance: none; */
}
.custom-checkbox label:before{
    border-radius: 3px;
}

input[type="checkbox"]:checked{
    content: "\2713";
    color: #000000;
}