/* General page body */
.main-body {
    background-color: lightgray;
    height: 100vh;
}

.app-body {
    background-color: #ffffff;
    height: 95vh;
}

/* Left panel section */
.left-panel-section {
    display: flex;
    flex-direction: column;
    /* flex: 0.35; */
}

.left-panel-chat-section {
    flex: 1;
    position: relative;
    overflow-y: scroll;
}

/* change all form focus color to match theme of the app */
.form-control:focus {
    border-color: #872eb8;
    box-shadow: 0 0 0 0.2rem rgba(135, 46, 184, 0.25);
}

.form-check-input:hover {
    background-color: #929ad9;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #872eb8;
}

/* Set all submit buttons to THEME COLOR */
.submit-btn {
    background-color: #872eb8;
}

.submit-btn:hover {
    background-color: #929ad9;
}

/* Reset btn for hamburger */
.reset-btn {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

.hamburger-menu {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 4px;
    background-color: #872eb8;
    margin: 6px 0;
}

.gray-hover-highlight-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.gray-hover-highlight-btn:hover {
    background-color: #929ad9;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.search-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.reset-text-input {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.offcanvas-body {
    padding-left: 0;
    padding-right: 0;
}

/* list of contacts */
.chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow: auto;
    padding-top: 20px;
}

/* each individual contact */
.chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.chatlist .block:hover {
    background: #e8bff2;
}

.chatlist .block .imgBox {
    vertical-align: middle;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #000000;
}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

/* styling for the avatar profile pictures */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.float {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #872eb8;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    text-decoration: none;
}

.float:hover {
    color: white;
}

.my-float {
    margin-top: 22px;
}