{% extends "layout.html" %}

{% block title%}
Chat
{% endblock%}

{% block body%}
<!--
GENERAL TODO
1. Make responsive for mobile devices and tablets
-->

<!-- NOTE: ALL the text in white and the borders is just to show the schematic, DELETE once no longer needed! -->

    <!-- Main Page Container -->
    <div class="container-fluid my-1 p-3 text-center border">
        CHAT PAGE!
        <!-- Row to fit the two columns -->
        <div class="row border">
            <!-- Left Panel Section -->
            <div class="col-3 section border">
                Edit Left Panel Section
                <!-- TODO -->

                <!-- New chat bubble setion -->
                <div class="">
                    Edit New chat bubble section
                    <!-- TODO -->
                </div>
            </div>

            <!-- Chat section -->
            <div class="col section border">
                Edit Chat section
                <!-- TODO -->
            </div>

        </div>
    </div>

{% endblock%}