{% extends "layout.html" %}

{% block style %}
<!-- Temp styling for BeepR Logo -->
<style>
    .hr1 {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        background-color: #872eb8;
        border-top: 5px dotted #ffffff;
        border-radius: 25px;
    }

    body {
        background-color: #929ad9;
    }

    .form-body {
        background-color: #f5f5f5;
        padding: 50px 20px;
        box-shadow: 0 0 0 0.2rem rgba(135, 46, 184, 0.25);
    }
</style>
{% endblock %}


{% block script %}
<script>
    // wait for DOM to load
    document.addEventListener('DOMContentLoaded', function () {

        // submit button
        const submit = document.getElementById("submit");

        // nodelist of the login form inputs
        const inputs = document.querySelectorAll(".form-control");

        // disable submit button
        submit.disabled = true;

        // loop through each input and enable the submit button only if both inputs are filled
        inputs.forEach((input) => {
            input.addEventListener("keyup", () => {
                let empty = false;

                for (let field of inputs) {
                    if (field.value === "") {
                        empty = true;
                    }
                }
                if (empty == false) {
                    submit.disabled = false;
                }
                else {
                    submit.disabled = true;
                }
            });
        });

        // if there is an error passed from app.py
        {% if error %}
            // turn the element border red
            document.querySelector({{ element_id | tojson }}).style = "border-color: #ff9494; box-shadow: 0 0 0 0.2rem rgba(255, 148, 148, 1);"
        {% endif %}

    });
</script>
{% endblock %}


{% block title%}
Sign In
{% endblock%}
{% block body%}



<!-- Login form -->
<form action="/login" name="loginform" method="post">
    <!-- Main Outter Container -->
    <div class="container text-center py-1">
        <!-- Logo section -->
        <div class="mb-4">
            <hr class="hr1">
            <h2 class="fw-bolder">Beep<span style="color:#872eb8">R</span></h2>
            <hr class="hr1">
        </div>
        <!-- Row to contain the form -->
        <div class="row justify-content-center">
            <!-- Row to contain the form -->
            <div class="col-lg-3 col-md-6 col-sm-6 form-body">
                <!-- Username Field -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Username"
                        autofocus autocomplete="off">
                    <label for="floatingUsername">Username</label>
                </div>
                <!-- Password Field -->
                <div class="form-floating mb-1">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <!-- Forgot password container -->
                    <div class="float-end my-1">
                        <a style="text-decoration:none" href="">Forgot Password?</a>
                    </div>
                </div>
                <!-- Remember me checkBox -->
                <div class="col mt-4">
                    <div class="form-check mb-3 pt-1">
                        <input type="checkbox" name="remember_me" class="form-check-input" id="checkbox">
                        <label for="checkbox" class="float-start form-check-label">Remember me</label>
                    </div><br>
                </div>
                <!-- error message handling -->
                {% if error %}
                <p style="color: red;">{{ error }}</p>

                {% endif %}

                <!-- Submit button -->
                <div class="col">

                    <button type="submit" class="btn text-white submit-btn" id="submit" name="password"
                        placeholder="Password">login</button>

                </div>
            </div>
            <div class="row my-2">
                <p class="">Dont have an account? <a href="/register">Sign up</a></p>
            </div>

            <!-- Temp Page Footer -->
            <footer class="mt-5 text-center text-muted text-dark">
                <hr>
                Final Project BeepR!
            </footer>
        </div>
</form>

<script>
</script>

{% endblock%}