{% extends "layout.html" %}

{% block style %}
    <!-- Temp styling for BeepR Logo -->
    <style>
        .hr1{
            width:15%;
            margin-left: auto;
            margin-right: auto;
            background-color: #872eb8;
            border-top: 5px dotted #ffffff;
            border-radius: 25px;
        }
    </style>
{% endblock %}

{% block title%}
Sign In
{% endblock%}

{% block body%}
<div class="container text-center">
    <!-- Logo section -->
    <hr class="hr1">
    <div class="container mb-5 text-center fs-3 fw-bolder">
        <p>Beep<span style="color:#872eb8">R</span></p>
    <hr class="hr1">
    </div>

    <!-- Login form -->
    <div class="container w-25 py-2">
        <form action="/login" method="post">
            <!-- Username Field -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control mx-auto" id="floatingUsername" name="username" placeholder="Username"
                    autofocus autocomplete="off">
                <label for="floatingUsername mx-auto w-auto">Username</label>
            </div>
            <!-- Password Field -->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
                <!-- Forgot password feild -->
                <div class="float-end mb-3">
                    <p><a style="text-decoration:none" href="">Forgot Password?</a></p>
                </div>
            </div>
            <!-- Remember me checkBox -->
            <div class="form-check mb-3 pt-1">
                <input type="checkbox" class="form-check-input  custom-checkbox" id="checkbox">
                <label for="checkbox" class="float-start form-check-label">Remember me</label>
            </div><br>
            <!-- Submit button -->
            <button type="submit" class="btn text-white submit-btn" name="password" placeholder="Password">Sign In</button>
        </form>
    </div>

    <div class="row mb-3">
        <p class="">Dont have an account? <a href="/...">Sign up</a></p>
    </div>
    <!-- Temp Page Footer -->
    <footer class="mt-5 text-center text-muted">
        <hr>
        Final Project BeepR!
    </footer>
</div>
{% endblock%}